/* Alignment */
.center-block{
    margin-left: auto;
    margin-right: auto;
}
.center-text{
    text-align: center;
}
.vertical-center-text{
    vertical-align: middle;
}
.vertical-bottom-text{
    vertical-align: bottom;
}
.vertical-top-text{
    vertical-align: top;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}
.pagination a{
    text-align: center;
}

/* Geometry */
body{
    display: flex; 
    flex-direction: column;
}
.header{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 10px 0px 10px;
}
.footer{
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    padding: 10px 10px 1px 10px;
}
.content-box{
    border-radius: 25px;
    border-width: 3px;
    box-shadow: 0px 0px 10px white;
    padding: 10px 15px;
    margin-top: 20px;
}
.header-box{
    border-radius: 15px;
    border-width: 3px;
    box-shadow: 0px 0px 10px lightseagreen;
    padding: 5px 10px;
    margin: 20px;
}
.nav-bar{
    padding: 10px 5px;
}
.nav-button{
    padding: 10px;
}
.nav-bar a{
    text-decoration: none;
    font-weight: bold;
    font-size: 13pt;
}
.inline-block{
    display: inline-block;
}
.border-right{
    border-right: 2px solid darkgray;
}
.styled-textbox{
    padding: 7px 15px;
    border-radius: 8px;
    width: 40ch;
}
.message{
    padding: 6px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    margin-top: 1em;
}
.list{
    margin: 10px;
    margin-bottom: 20px;
}
.list .list-item{
    padding: 6px;
}
.tag-list{ 
    height: 5em; 
    overflow-y: auto; 
    margin: 10px;
    margin-bottom: 20px;
    padding: 2px;
}
.tag-list .tag{
    text-decoration: none;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 1px;
    margin: 1px;
    display: inline-block;
}
.button-tray{
    margin: 1em 0px;
}
.button-tray a{
    text-decoration: none;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 4px;
    margin: 0px;
}
.pagination a{
    text-decoration: none;
    border: 1px solid darkgray;
    border-radius: 0px;
    padding: 6px;
    margin: 0px;
}
.pagination a:first-child{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.pagination a:last-child{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.styled-table{
    margin: 5px;
}
.styled-table tr td{
    padding: 0.25em 1em;
}
.styled-table thead tr td{
    font-weight: bold;
}
.separator{
    width: 1em;
    display: inline-block;
    text-align: center;
}
.section{
    margin: 0.5em;
    padding: 1em;
    border-bottom: 3px solid darkgray;
}
.section:first-of-type{
    border-top: 3px solid darkgray;
}

/* Widths */
.width-15-percent{
    width: 14%;
}
.width-20-percent{
    width: 19%;
}
.width-25-percent{
    width: 24%;
}
.width-50-percent{
    width: 49%;
}
.width-75-percent{
    width: 74%;
}
.width-90-percent{
    width: 89%;
}
.width-100-percent{
    width: 99%;
}
.table-spaced-tds{
    border-spacing: 5px;
}
.pointer {
    cursor: pointer;
}

/* Color */
html{
    background-color: darkslategray;
}
.header{
    background-color: lightseagreen;
}
.footer{
    background-color: #437070;
}
.content-box{
    background-color: white;
}
.header-box{
    background-color: lightseagreen;
}
.nav-bar{
    border-top: 2px solid black;
}
.nav-button:hover{
    background-color: lightskyblue;
}
.nav-bar a{
    color: #444444
}
.nav-button:hover{
    color: black;
}
.nav-button-selected{
    background-color: cyan;
}
.styled-textbox{
    border: 2px solid lightgray;
}
.styled-textbox:focus{
    border: 2px solid gray;
}
.success-message{
    background-color: lightgreen;
    border: 2px solid green;
}
.error-message{
    background-color: lightcoral;
    border: 2px solid red;
}
::placeholder{
    color: lightgray
}
.list{
    background: #e6e6e6;
}
.list .list-item:nth-child(even){
    background: lightgray;
}
.list .list-item:hover{
    background: lightblue;
}
.tag-list{
    border: 2px solid lightgray;
}
.tag-list .tag{
    background: lightgray;
}
.tag-list .tag:hover{
    background: lightblue;
}
.border-left-darkgray{
    border-left: 2px solid darkgray;
}
.button-tray a{
    background: lightgray;
}
.button-tray a:hover{
    background: lightsalmon;
}
.styled-table thead tr td{
    border: 0;
}
.styled-table thead tr{
    background: gray;
    border-bottom: 2px solid darkgray;
}
.styled-table tbody tr:nth-child(even){
    background: lightgray;
}
.styled-table tbody tr:hover{
    background: lightblue;
}
.undecorated-link{
    text-decoration: none;
    color: black;
}
.red{
    color: red;
}

/* Text Styling */
.italic{
    font-style: italic;
}
.title-text{
    font-size: 32;
    font-weight: bold;
}
#todays-quote{
    font-size: 12pt;
    font-style: italic;
    margin-left: 1em;
}
#todays-quote b{
    font-style: normal;
}
#todays-quote a{
    text-decoration: none;
    color: black;
}
.ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Animation */
.loader {
    border: 4px solid gray; /* Light grey */
    border-top: 4px solid blue; /* Blue */
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 2s linear infinite;
    display: inline-block
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}