.block-center{
    margin: auto;
}
body{
    width: 8in;
    margin-left: 0.25in;
    margin-top: 0.25in;
}
.box-1pt{
    border: 1px solid black;
}
.box-2pt{
    border: 2px solid black;
}
.box-3pt{
    border: 3px solid black;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 3px 1em;
}
.instruction-box{
    background: lightblue;
    padding: 10px;
}
.large{
    font-size: 18pt;
}
@media print {
    .no-print, .no-print * {
      display: none !important;
    }
}
.print-block{ 
    page-break-inside: avoid;
}
.signature-box{
    border: 1px solid black;
    width: 3in;
    height: 0.5in;
    margin: 0.125in;
}
table{
    margin: 5px;
}
table tr td{
    padding: 0.25em 1em;
}
table tr:nth-child(even){
    background: lightgray;
}
table thead tr{
    background: gray;
    color: white;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.width-100-percent{
    width: 99%;
}