<div class="text-align-right">
    <i class="fas fa-user"></i> $name <span class="separator"> | </span> 
    <a href="javascript:location.reload()"><i class="fas fa-sign-out-alt"></i> Logout</a> <span class="separator"> | </span>
    <a href="javascript:shutdownServer()"><i class="fas fa-power-off"></i> Shutdown Server</a>
</div>
<script type="text/javascript">
    function shutdownServer(){
        if(confirm("Are you sure you want to shutdown the server? Click OK for yes.")){
            window.location.href = "exit";
        }
    }
</script>
<br>
<div id="tabs">
    <ul>
        <li><a href="#home-tab">Home Page</a></li>
        <li><a href="#computer-tab">Computer Models</a></li>
        <li><a href="#reasons-tab">Work Order Reasons</a></li>
        <li><a href="#directorates-tab">Directorates</a></li>
        <li><a href="#ranks-tab">Ranks</a></li>
        <li><a href="#admins-tab">Admins</a></li>
        <li><a href="#settings-tab">Settings</a></li>
    </ul>
    <div id="home-tab">
        <h3>Banner</h3>
        <input id="chk-show-banner" type="checkbox"><label for="chk-show-banner">Show Banner on Home Page</label><br>
        <br>
        <label for="txt-banner-text">Banner Text:</label> <small><span id="banner-counter">0/10,000</span></small><br>
        <div class="button-tray">
            <a href="javascript:bannerWrap('b')" title="Bold"><i class="fas fa-bold"></i></a>
            <a href="javascript:bannerWrap('i')" title="Italic"><i class="fas fa-italic"></i></a>
            <a href="javascript:bannerWrap('u')" title="Underline"><i class="fas fa-underline"></i></a>
            <a href="javascript:bannerWrap('strike')" title="Strikethrough"><i class="fas fa-strikethrough"></i></a>
            <a href="javascript:bannerWrap('mark')" title="Highlight"><i class="fas fa-highlighter"></i></a>
            <a href="javascript:bannerWrap('sub')" title="Subscript"><i class="fas fa-subscript"></i></a>
            <a href="javascript:bannerWrap('sup')" title="Superscript"><i class="fas fa-superscript"></i></a>
            <a href="javascript:bannerWrap('small')" title="Small">Small</a>
            <a href="javascript:bannerWrap('big')" title="Big">Big</a>
            <a href="javascript:bannerWrapLink()" title="Link"><i class="fas fa-link"></i></a>
            <a href="javascript:bannerInsertBr()" title="HTML Line Break">&ltbr></a><br>
        </div>
        <div  class="button-tray">
            <a href="javascript:bannerInsert('fas fa-asterisk')"><i class="fas fa-asterisk"></i></a>
            <a href="javascript:bannerInsert('fas fa-exclamation-circle')"><i class="fas fa-exclamation-circle"></i></a>
            <a href="javascript:bannerInsert('fas fa-question-circle')"><i class="fas fa-question-circle"></i></a>
            <a href="javascript:bannerInsert('fas fa-laptop')"><i class="fas fa-laptop"></i></a>
            <a href="javascript:bannerInsert('fas fa-desktop')"><i class="fas fa-desktop"></i></a>
            <a href="javascript:bannerInsert('fas fa-user')"><i class="fas fa-user"></i></a>
            <a href="javascript:bannerInsert('fas fa-users')"><i class="fas fa-users"></i></a>
            <a href="javascript:bannerInsert('fas fa-wrench')"><i class="fas fa-wrench"></i></a>
            <a href="javascript:bannerInsert('fas fa-building')"><i class="fas fa-building"></i></a>
            <a href="javascript:bannerInsert('fas fa-briefcase')"><i class="fas fa-briefcase"></i></a>
            <a href="javascript:bannerInsert('fas fa-calendar-alt')"><i class="fas fa-calendar-alt"></i></a>
            <a href="javascript:bannerInsert('fas fa-phone')"><i class="fas fa-phone"></i></a>
            <a href="javascript:bannerInsert('fas fa-envelope')"><i class="fas fa-envelope"></i></a>
            <a href="javascript:bannerInsert('fas fa-sticky-note')"><i class="fas fa-sticky-note"></i></a>
            <a href="javascript:bannerInsert('fas fa-sitemap')"><i class="fas fa-sitemap"></i></a>
            <a href="javascript:bannerInsert('fas fa-barcode')"><i class="fas fa-barcode"></i></a>
            <a href="javascript:bannerInsert('fas fa-pencil')"><i class="fas fa-pencil-alt"></i></a>
            <a href="javascript:bannerInsert('fas fa-pen')"><i class="fas fa-pen"></i></a>
            <a href="javascript:bannerInsert('fas fa-paper-plane')"><i class="fas fa-paper-plane"></i></a>
            <a href="javascript:bannerInsert('fab fa-windows')"><i class="fab fa-windows"></i></a>
            <a href="javascript:bannerInsert('fab fa-apple')"><i class="fab fa-apple"></i></a>
        </div>
        <textarea id="txt-banner-text" rows="4" class="styled-textbox width-100-percent" maxlength="10000"></textarea>
        <br><br>You can also insert any icon from <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome 5.2.0's free category</a>.

        <br><br>
        <table class="table-spaced-tds">
            <tr>
                <td>
                    <label for="banner-border-color">Border Color: </label>
                </td><td>
                    <input id="banner-border-color" type="color">
                </td>
                <td rowspan="3"> Presets: </td>
                <td rowspan="3">
                    <div class="message banner-preset pointer" style="border-color: #008000; background-color: #00ff00; color: #000000">
                        Green
                    </div>
                </td>
                <td rowspan="3">
                    <div class="message banner-preset pointer" style="border-color: #999900; background-color: #ffff00; color: #000000">
                        Yellow
                    </div>
                </td>
                <td rowspan="3">
                    <div class="message banner-preset pointer" style="border-color: #990000; background-color: #ff0000; color: #ffffff">
                        Red
                    </div>
                </td>
                <td rowspan="3">
                    <div class="message banner-preset pointer" style="border-color: #0000cc; background-color: #3333ff; color: #ffffff">
                        Blue
                    </div>
                </td>
                <td rowspan="3">
                    <div class="message banner-preset pointer" style="border-color: #a9a9a9; background-color: #d3d3d3; color: #000000">
                        Gray
                    </div>
                </td>
                <td rowspan="3">
                    <div class="message banner-preset pointer" style="border-color: #000000; background-color: #ffffff; color: #000000">
                        White
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="banner-background-color">Background Color: </label>
                </td>
                <td>
                    <input id="banner-background-color" type="color" value="#ffffff">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="banner-text-color">Text Color: </label>
                </td>
                <td>
                    <input id="banner-text-color" type="color">
                </td>
            </tr>
        </table>
        <p>Banner Example:</p>
        <div id="banner-example" class="message">
            Banner Example
        </div>
        <br>
        <button id="banner-save" title="Save the currently selected banner settings.">Save</button>
        <button id="banner-revert" title="Reload the most recently saved banner settings.">Revert</button>
        <span id="banner-saving">
                <div class="inline-block italic">Saving Banner </div>
                <div class='loader'></div>
        </span>
        <span id="banner-saved" class="inline-block italic">
                Banner saved successfully
        </span>
        <br>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#banner-saved").hide();
                $("#banner-saving").hide();

                $("#banner-save").button({
                    icon: "ui-icon-check"
                });
                $("#banner-save").click(function(){
                    var banner = {
                        showbanner: $("#chk-show-banner").prop('checked'),
                        bannertext: $("#txt-banner-text").val(),
                        bordercolor: $("#banner-border-color").val(),
                        backgroundcolor: $("#banner-background-color").val(),
                        textcolor: $("#banner-text-color").val(),
                    };
                    $("#banner-save").prop("disabled", true);
                    $("#banner-revert").prop("disabled", true);
                    $("#banner-saved").hide();
                    $("#banner-saving").show();
                    $.post("admin?submitbanner", banner, bannerSubmitResult);
                });
                function bannerSubmitResult(result){
                    if(result == "success"){
                        $("#banner-saved").html("Banner saved successfully");
                    }
                    else{
                        $("#banner-saved").html("Banner save failed, please try again");
                    }
                    $("#banner-save").prop("disabled", false);
                    $("#banner-revert").prop("disabled", false);
                    $("#banner-saved").show();
                    $("#banner-saving").hide();
                    
                }
                $("#banner-revert").button({
                    icon: " ui-icon-arrowreturnthick-1-w"
                });
                $("#banner-revert").click(revertBanner)
                function revertBanner(){
                    var query = "admin?getbanner"
                    $.ajax({url: query, success: function(result){
                        if(result.length == 0){
                            result = 'An error occured loading the banner, please refresh the page.';
                        }
                        var banner = $.parseJSON(result);
                        if(banner.showbanner == "true"){
                            $("#chk-show-banner").prop('checked', 'true');
                        }
                        else{
                            $("#chk-show-banner").removeProp('checked');
                        }
                        $("#txt-banner-text").val(banner.bannertext);
                        $("#banner-border-color").val(banner.bordercolor);
                        $("#banner-background-color").val(banner.backgroundcolor);
                        $("#banner-text-color").val(banner.textcolor);
                        updateExample();
                        setExampleColors();
                    }});
                }
                $("#txt-banner-text").keyup(function(){
                    updateExample()
                });
                $("#banner-border-color").change(function(){
                    setExampleColors();
                });
                $("#banner-background-color").change(function(){
                    setExampleColors();
                });
                $("#banner-text-color").change(function(){
                    setExampleColors();
                });
                $(".banner-preset").click(function(){
                    $("#banner-border-color").val(rgbToHex($(this).css('border-color')));
                    $("#banner-background-color").val(rgbToHex($(this).css('background-color')));
                    $("#banner-text-color").val(rgbToHex($(this).css('color')));
                    setExampleColors()
                });

                revertBanner();
            });

            function updateExample(){
                $("#banner-example").html($("#txt-banner-text").val());
                var len = $("#txt-banner-text").val().length
                var count = Number(len).toLocaleString() + "/" + Number(10000).toLocaleString();
                $("#banner-counter").html(count);
                if(len <= 5000 ){
                    $("#banner-counter").css("color", "white")
                }
                else if(len >= 5255){
                    $("#banner-counter").css("color", "black")
                }
                else{
                    $("#banner-counter").css("color", "rgb("+(5255-len)+", "+(5255-len)+", "+(5255-len)+")")
                }
            }
            function setExampleColors(){
                $("#banner-example").css('border-color', $("#banner-border-color").val());
                $("#banner-example").css('background-color', $("#banner-background-color").val());
                $("#banner-example").css('color', $("#banner-text-color").val());
            }
            function rgbToHex(rgb){
                // https://jsfiddle.net/Mottie/xcqpF/1/light/
                rgb = rgb.match(/^rgba?[\s+]?\([\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?,[\s+]?(\d+)[\s+]?/i);
                return (rgb && rgb.length === 4) ? "#" +
                ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : '';
            }
            function bannerInsert(text){
                text = text || '';
                var selStart = $('#txt-banner-text').prop('selectionStart');
                var selEnd = $('#txt-banner-text').prop('selectionEnd');
                var v = $('#txt-banner-text').val();
                var textBefore = v.substring(0,  selStart);
                var textAfter  = v.substring(selEnd, v.length);
                var tag = '<i class="' + text + '"></i>'
                var newText = textBefore + tag + textAfter
                if(newText.length <= 10000){
                    $('#txt-banner-text').val(newText);
                    $('#txt-banner-text').prop('selectionStart', textBefore.length + tag.length);
                    $('#txt-banner-text').prop('selectionEnd', textBefore.length + tag.length);
                }
                updateExample();
                $('#txt-banner-text').focus();
            };
            function bannerInsertBr(){
                var selStart = $('#txt-banner-text').prop('selectionStart');
                var selEnd = $('#txt-banner-text').prop('selectionEnd');
                var v = $('#txt-banner-text').val();
                var textBefore = v.substring(0,  selStart);
                var textAfter  = v.substring(selEnd, v.length);
                var tag = '<br>'
                var newText = textBefore + tag + textAfter
                if(newText.length <= 10000){
                    $('#txt-banner-text').val(newText);
                    $('#txt-banner-text').prop('selectionStart', textBefore.length + tag.length);
                    $('#txt-banner-text').prop('selectionEnd', textBefore.length + tag.length);
                }
                updateExample();
                $('#txt-banner-text').focus();
            };

            function bannerWrap(text){
                text = text || '';
                var selStart = $('#txt-banner-text').prop('selectionStart');
                var selEnd = $('#txt-banner-text').prop('selectionEnd');
                var v = $('#txt-banner-text').val();
                var textBefore = v.substring(0,  selStart);
                var textMiddle = v.substring(selStart, selEnd);
                var textAfter  = v.substring(selEnd, v.length);
                var tagOpen = '<' + text + '>';
                var tagClose = '</' + text + ">";
                if(textMiddle.startsWith(tagOpen) && textMiddle.endsWith(tagClose)){
                    textMiddle = textMiddle.substring(tagOpen.length, textMiddle.length - tagClose.length);
                    tagOpen = "";
                    tagClose = "";
                }
                var newText = textBefore + tagOpen + textMiddle + tagClose + textAfter
                if(newText.length <= 10000){
                    $('#txt-banner-text').val(newText);
                    $('#txt-banner-text').prop('selectionStart', textBefore.length);
                    $('#txt-banner-text').prop('selectionEnd', textBefore.length + tagOpen.length+ textMiddle.length + tagClose.length);
                }
                updateExample();
                $('#txt-banner-text').focus();
            };
            function bannerWrapLink(){
                text = prompt("Enter the URL to link to:", "https://");
                if(is_url(text)){
                    var selStart = $('#txt-banner-text').prop('selectionStart');
                    var selEnd = $('#txt-banner-text').prop('selectionEnd');
                    var v = $('#txt-banner-text').val();
                    var textBefore = v.substring(0,  selStart);
                    var textMiddle = v.substring(selStart, selEnd);
                    var textAfter  = v.substring(selEnd, v.length);
                    var tagOpen = '<a href="' + text + '" target="_blank">';
                    var tagClose = '</a>';
                    var newText = textBefore + tagOpen + textMiddle + tagClose + textAfter
                    if(newText.length <= 10000){
                        $('#txt-banner-text').val(newText);
                        $('#txt-banner-text').prop('selectionStart', textBefore.length);
                        $('#txt-banner-text').prop('selectionEnd', textBefore.length + tagOpen.length+ textMiddle.length + tagClose.length);
                    }
                    updateExample();
                    $('#txt-banner-text').focus();
                }
                else{
                    alert("Your entry does not appear to be a proper URL.\n\n"+text);
                }
            };
            function is_url(str){
                //From: https://www.w3resource.com/javascript-exercises/javascript-regexp-exercise-9.php
                regexp =  /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
                if (regexp.test(str)){
                    return true;
                }
                else{
                    return false;
                }
            }
        </script>
        <!-- ======================================================================================================= -->
        <hr>
        <h3>G6 News</h3>
        <button id="btn-new-post">New Post</button>
        <span id="news-saved-sucess" class="italic">Post saved successfully.</span>
        <div id="news-post-editor">
            <label for="txt-news-title">Post Title:</label><br>                            
            <input id="txt-news-title" type="text" class="styled-textbox width-100-percent" placeholder="Post Title" maxlength="255"><br><br>
            <label for="txt-news-body">Post Body:</label> <small><span id="news-counter" style="color:white">0/10,000</span></small><br>
            <div class="button-tray">
                <a href="javascript:newsWrap('b')" title="Bold"><i class="fas fa-bold"></i></a>
                <a href="javascript:newsWrap('i')" title="Italic"><i class="fas fa-italic"></i></a>
                <a href="javascript:newsWrap('u')" title="Underline"><i class="fas fa-underline"></i></a>
                <a href="javascript:newsWrap('strike')" title="Strikethrough"><i class="fas fa-strikethrough"></i></a>
                <a href="javascript:newsWrap('mark')" title="Highlight"><i class="fas fa-highlighter"></i></a>
                <a href="javascript:newsWrap('sub')" title="Subscript"><i class="fas fa-subscript"></i></a>
                <a href="javascript:newsWrap('sup')" title="Superscript"><i class="fas fa-superscript"></i></a>
                <a href="javascript:newsWrap('small')" title="Small">Small</a>
                <a href="javascript:newsWrap('big')" title="Big">Big</a>
                <a href="javascript:newsWrapLink()" title="Link"><i class="fas fa-link"></i></a>
                <a href="javascript:newsInsertBr()" title="HTML Line Break">&ltbr></a><br>
            </div>
            <div  class="button-tray">
                <a href="javascript:newsInsert('fas fa-asterisk')"><i class="fas fa-asterisk"></i></a>
                <a href="javascript:newsInsert('fas fa-exclamation-circle')"><i class="fas fa-exclamation-circle"></i></a>
                <a href="javascript:newsInsert('fas fa-question-circle')"><i class="fas fa-question-circle"></i></a>
                <a href="javascript:newsInsert('fas fa-laptop')"><i class="fas fa-laptop"></i></a>
                <a href="javascript:newsInsert('fas fa-desktop')"><i class="fas fa-desktop"></i></a>
                <a href="javascript:newsInsert('fas fa-user')"><i class="fas fa-user"></i></a>
                <a href="javascript:newsInsert('fas fa-users')"><i class="fas fa-users"></i></a>
                <a href="javascript:newsInsert('fas fa-wrench')"><i class="fas fa-wrench"></i></a>
                <a href="javascript:newsInsert('fas fa-building')"><i class="fas fa-building"></i></a>
                <a href="javascript:newsInsert('fas fa-briefcase')"><i class="fas fa-briefcase"></i></a>
                <a href="javascript:newsInsert('fas fa-calendar-alt')"><i class="fas fa-calendar-alt"></i></a>
                <a href="javascript:newsInsert('fas fa-phone')"><i class="fas fa-phone"></i></a>
                <a href="javascript:newsInsert('fas fa-envelope')"><i class="fas fa-envelope"></i></a>
                <a href="javascript:newsInsert('fas fa-sticky-note')"><i class="fas fa-sticky-note"></i></a>
                <a href="javascript:newsInsert('fas fa-sitemap')"><i class="fas fa-sitemap"></i></a>
                <a href="javascript:newsInsert('fas fa-barcode')"><i class="fas fa-barcode"></i></a>
                <a href="javascript:newsInsert('fas fa-pencil')"><i class="fas fa-pencil-alt"></i></a>
                <a href="javascript:newsInsert('fas fa-pen')"><i class="fas fa-pen"></i></a>
                <a href="javascript:newsInsert('fas fa-paper-plane')"><i class="fas fa-paper-plane"></i></a>
                <a href="javascript:newsInsert('fab fa-windows')"><i class="fab fa-windows"></i></a>
                <a href="javascript:newsInsert('fab fa-apple')"><i class="fab fa-apple"></i></a>
            </div>
            <textarea id="txt-news-body" rows="8" class="styled-textbox width-100-percent" placeholder="Post Body" maxlength="10000"></textarea>
            <br><br>You can also insert any icon from <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome 5.2.0's free category</a>.
            <br><br>
            <p>Post Preview:</p>
            <div class="list">
                <div class="list-item">
                    <h3 id="post-preview-title">This is a title</h3>
                    <p id="post-preview-body">This is the post body. You can put messages here. or jokes. or confessions. or your deepest darkest secrets.</p>
                    <p><i><small>Posted <span id="preview-post-date">6 Jul 2018</span> by <span id="preview-post-author">PVT Joe Snuffy</span>. <span id="preview-post-edited">Edited <span id="preview-post-edit-date">1 Jan 2018</span> by <span id="preview-post-editor">SGT Tom Atoe</span>.</span></small></i></p>
                </div>
            </div>
            <button id="btn-submit-post">Save Post</button>
            <button id="btn-cancel-post">Cancel</button>
            <span id="news-saved-fail" class="italic">Failed to save post, please try again.</span>
            <span id="news-saving">
                <div class="inline-block italic">Saving Post </div>
                <div class='loader'></div>
            </span>
            <input type="hidden" id="post-id" value="">
            <hr>
        </div>
        <div id="news-post-list" class="list">
            <p>No news has been posted yet!</p>
        </div>
        <div id="news-pagination" class="pagination"></div>
        <input id='news-selected-page' type='hidden' value='1'>
        <template id="post-template">
            <div class="list-item">
                <h3 class="post-title">Post Title</h3>
                <p class="post-body">Post Body</p>
                <p><i><small>Posted <span class="post-date">6 Jul 2018</span> by <span class="post-author">PVT Joe Snuffy</span>.</small></i></p>
                <button class="btn-edit-post">Edit</button>
                <button class="btn-delete-post">Delete</button>
            </div>
        </template>
        
        <script type="text/javascript">
            $(document).ready(function(){
                $("#btn-new-post").button({
                    icon: "ui-icon-plus"
                });
                $("#btn-new-post").click(function(){
                    var d = new Date();
                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    $("#preview-post-date").html(d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear());
                    $("#btn-new-post").hide();
                    $("#news-post-editor").show();
                });
                $(".btn-edit-post").button({
                    icon: "ui-icon-pencil"
                });
                $(".btn-visibility-post").button({
                    icon: "ui-icon-lightbulb"
                });
                $(".btn-delete-post").button({
                    icon: "ui-icon-trash"
                });
                $("#btn-submit-post").button({
                    icon: "ui-icon-check"
                });
                $("#btn-submit-post").click(function(){
                    var post = {
                        title: $("#txt-news-title").val(),
                        body: $("#txt-news-body").val(),
                        postId: $("#post-id").val(),
                        userId: 1//userId
                    };
                    $("#btn-submit-post").prop("disabled", true)
                    $("#btn-cancel-post").prop("disabled", true)
                    $("#news-saving").show();
                    $.post("admin?submitpost", post, submitNewsResult);
                });
                function submitNewsResult(result){
                    if(result == "success"){
                        $("#news-saved-success").show();
                        $("#news-saved-fail").hide();
                        closeEditor();
                    }
                    else{
                        $("#news-saved-fail").show();
                        $("#news-saved-success").hide();
                    }
                    $("#btn-submit-post").prop("disabled", false);
                    $("#btn-cancel-post").prop("disabled", false);
                    $("#news-saved").show();
                    $("#news-saving").hide();
                    $("#news-saved-success").hide();
                    $("#news-saved-fail").hide();
                    loadNews($("#news-selected-page").val());
                }

                $("#btn-cancel-post").button({
                    icon: "ui-icon-close"
                });
                $("#btn-cancel-post").click(function(){
                    closeEditor();
                });
                function closeEditor(){
                    $("#btn-new-post").show();
                    $("#news-post-editor").hide();
                    $("#txt-news-title").val("");
                    $("#txt-news-body").val("");
                    $("#post-id").val("");
                    $("#post-preview-title").html("Post Title");
                    $("#post-preview-body").html("Post Body");
                }
                $("#txt-news-title").keyup(function(){
                    $("#post-preview-title").html($("#txt-news-title").val());
                });
                $("#txt-news-body").keyup(function(){
                    updatePostBody();
                });
                setTimeout(function(){
                    var d = new Date();
                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    var now = d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear();
                    if($("#preview-post-edited").is(":visible")){
                        $("#preview-post-edit-date").html(now);
                    }
                    else{
                        $("#preview-post-date").html(now);
                    }
                },1000);

                $("#news-post-editor").hide();
                $("#news-saving").hide();
                $("#news-saved-success").hide();
                $("#news-saved-fail").hide();
                $("#post-preview-edited").hide()

                createPaginationStep1(1);
                loadNews(1);
            });
            
            function createPaginationStep1(currentPage){
                var query = "admin?getpostcount";
                $.ajax({url: query, success: function(result){
                        if(result.length > 0 && result != "failed"){
                            createPaginationStep2(result);
                        }
                        else{
                            $("#news-post-list").empty();
                            $("#news-post-list").append("<p>No news has been posted yet!</p>");
                        }

                    }
                });
            }
            function createPaginationStep2(currentPage, postCount){
                var prevPage = (currentPage <= 1 ? currentPage : currentPage - 1)
                $("#news-pagination").empty();
                $("#news-pagination").append("<a href='javascript:newsPage(1)' title='First Page'><i class='fas fa-step-backward'></i></a>");
                $("#news-pagination").append("<a href='javascript:newsPage(" + prevPage + ")' title='Previous Page'><i class='fas fa-chevron-left'></i></a>");
                var page = 1;
                var i = 0;
                do{
                    var cssClass = "";
                    if(page == currentPage){
                        cssClass = " class='pagination-current-page'";
                    }
                    $("#news-pagination").append("<a href='javascript:newsPage(" + page + ")'" + cssClass + ">" + page + "</a>");
                    i += 20;
                    page++;
                }while(i < postCount)
                page--;
                var nextPage = (currentPage >= page ? currentPage : currentPage + 1)
                $("#news-pagination").append("<a href='javascript:newsPage(" + nextPage + ")' title='Next Page'><i class='fas fa-chevron-right'></i></a>");
                $("#news-pagination").append("<a href='javascript:newsPage(" + page + ")' title='Last Page'><i class='fas fa-step-forward'></i></a>");
            }
            function loadNews(page){
                page--;
                var query = "admin?getposts=" + (page*20);
                $.ajax({url: query, success: function(result){
                        if(result.length > 0){
                            $("#news-post-list").html(result);
                            $(".btn-edit-post").button({
                                icon: "ui-icon-pencil"
                            });
                            $(".btn-delete-post").button({
                                icon: "ui-icon-close"
                            });
                            //loadNewsStep2(result);
                        }
                    }
                });
            }
            function editPost(id){
                var query = "admin?getpostforedit=" + id;
                $.ajax({url: query, dataType: "json", success: function(result){
                        if(result != "" && result != "failed"){
                            $("#btn-new-post").hide();
                            $("#news-post-editor").show();
                            $("#txt-news-title").val(result.title);
                            $("#txt-news-body").val(result.body);
                            $("#post-id").val(result.id);
                            $("#post-preview-title").html(result.title);
                            $("#post-preview-body").html(result.body);
                            $("#preview-post-author").html(result.author);
                            $("#preview-post-date").html(result.timestamp);
                            $("#post-preview-edited").show()
                            var d = new Date();
                            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                            var now = d.getDate() + " " + months[d.getMonth()] + " " + d.getFullYear();
                            $("#preview-post-edit-date").html(now);
                            $("#preview-post-editor").html("");
                            
                        }
                    }
                });
            }
            function deletePost(id, title){
                if(confirm('Are you sure you want to delete the post titled "' + title + '"?')){
                    var query = "admin?deletepost=" + id;
                    $.ajax({url: query, success: function(result){
                            if(result != "success"){
                                $("#post" + id).remove();
                            }
                            else{
                                $("#post" + id + " .status-message").show().html("Failed to delete post.");
                            }
                        }
                    });
                }
            }
            function loadNewsStep2(result){
                //Deprecated!
                $("#news-post-list").empty();
                var post = $("#post-template").clone().attr('id','post' + result.id);
                post.find(".post-title").html(result.title);
                post.find(".post-body").html(result.body);
                post.find(".post-author").html(result.author);
                post.find(".post-date").html(result.timestamp);
                post.find(".btn-edit-post").button({
                    icon: "ui-icon-pencil"
                });
                post.find(".btn-delete-post").button({
                    icon: "ui-icon-close"
                });
                post.find(".btn-edit-post").click(function(){ editPost(result.id); });
                post.find(".btn-delete-post").click(function(){ deletePost(result.id); });
                $("#news-post-list").append(post);
                
            }
            function updatePostBody(){
                $("#post-preview-body").html($("#txt-news-body").val());
                var len = $("#txt-news-body").val().length
                var count = Number(len).toLocaleString() + "/" + Number(10000).toLocaleString();
                $("#news-counter").html(count);
                if(len <= 5000 ){
                    $("#news-counter").css("color", "white")
                }
                else if(len >= 5255){
                    $("#news-counter").css("color", "black")
                }
                else{
                    $("#news-counter").css("color", "rgb("+(5255-len)+", "+(5255-len)+", "+(5255-len)+")")
                }

            }
            function newsInsert(text){
                text = text || '';
                var selStart = $('#txt-news-body').prop('selectionStart');
                var selEnd = $('#txt-news-body').prop('selectionEnd');
                var v = $('#txt-news-body').val();
                var textBefore = v.substring(0,  selStart);
                var textAfter  = v.substring(selEnd, v.length);
                var tag = '<i class="' + text + '"></i>'
                var newText = textBefore + tag + textAfter
                if(newText.length <= 10000){
                    $('#txt-news-body').val(newText);
                    $('#txt-news-body').prop('selectionStart', textBefore.length + tag.length);
                    $('#txt-news-body').prop('selectionEnd', textBefore.length + tag.length);
                }
                updatePostBody();
                $('#txt-news-body').focus();
            };
            function newsInsertBr(){
                var selStart = $('#txt-news-body').prop('selectionStart');
                var selEnd = $('#txt-news-body').prop('selectionEnd');
                var v = $('#txt-news-body').val();
                var textBefore = v.substring(0,  selStart);
                var textAfter  = v.substring(selEnd, v.length);
                var tag = '<br>'
                var newText = textBefore + tag + textAfter
                if(newText.length <= 10000){
                    $('#txt-news-body').val(newText);
                    $('#txt-news-body').prop('selectionStart', textBefore.length + tag.length);
                    $('#txt-news-body').prop('selectionEnd', textBefore.length + tag.length);
                }
                updatePostBody();
                $('#txt-news-body').focus();
            };

            function newsWrap(text){
                text = text || '';
                var selStart = $('#txt-news-body').prop('selectionStart');
                var selEnd = $('#txt-news-body').prop('selectionEnd');
                var v = $('#txt-news-body').val();
                var textBefore = v.substring(0,  selStart);
                var textMiddle = v.substring(selStart, selEnd);
                var textAfter  = v.substring(selEnd, v.length);
                var tagOpen = '<' + text + '>';
                var tagClose = '</' + text + ">";
                if(textMiddle.startsWith(tagOpen) && textMiddle.endsWith(tagClose)){
                    textMiddle = textMiddle.substring(tagOpen.length, textMiddle.length - tagClose.length);
                    tagOpen = "";
                    tagClose = "";
                }
                var newText = textBefore + tagOpen + textMiddle + tagClose + textAfter
                if(newText.length <= 10000){
                    $('#txt-news-body').val(newText);
                    $('#txt-news-body').prop('selectionStart', textBefore.length);
                    $('#txt-news-body').prop('selectionEnd', textBefore.length + tagOpen.length+ textMiddle.length + tagClose.length);
                }
                updatePostBody();
                $('#txt-news-body').focus();
            };
            function newsWrapLink(){
                text = prompt("Enter the URL to link to:", "https://");
                if(is_url(text)){
                    var selStart = $('#txt-news-body').prop('selectionStart');
                    var selEnd = $('#txt-news-body').prop('selectionEnd');
                    var v = $('#txt-news-body').val();
                    var textBefore = v.substring(0,  selStart);
                    var textMiddle = v.substring(selStart, selEnd);
                    var textAfter  = v.substring(selEnd, v.length);
                    var tagOpen = '<a href="' + text + '" target="_blank">';
                    var tagClose = '</a>';
                    var newText = textBefore + tagOpen + textMiddle + tagClose + textAfter
                    if(newText.length <= 10000){
                        $('#txt-news-body').val(newText);
                        $('#txt-news-body').prop('selectionStart', textBefore.length);
                        $('#txt-news-body').prop('selectionEnd', textBefore.length + tagOpen.length+ textMiddle.length + tagClose.length);
                    }
                    updatePostBody();
                    $('#txt-news-body').focus();
                }
                else{
                    alert("Your entry does not appear to be a proper URL.\n\n"+text);
                }
            };

        </script>
    </div><!-- Home Tab -->
    <div id="computer-tab">
        <button id="btn-create-computer-model">New Model</button>
        <br>
        <div id="model-error" class="message error-message"></div>
        <br>
        <table class="styled-table">
            <thead>
                <tr>
                    <td>Manufacturer</td>
                    <td>Model</td>
                    <td>Type</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody id="computer-models-list">
                    <tr><td>Loading Computer Models...</td></tr>
            </tbody>
        </table>
        <div id="edit-model-dialog">
            <table>
                <tr>
                    <td><label for="model-manufacturer">Manufacturer: </label></td>
                    <td><input id="model-manufacturer" placeholder="Dell" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td><label for="model-model">Model: </label></td>
                    <td><input id="model-model" placeholder="E5570" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td><label for="model-type">Computer Type: </label></td>
                    <td>
                        <input id="model-type-laptop" type="radio" name="model-type" checked>
                        <label for="model-type">Laptop</label>
                        <input id="model-type-desktop" type="radio" name="model-type">
                        <label for="model-type">Desktop</label>
                    </td>
                </tr>
            </table>
            <br>
            <div id="model-save-failed" class="italic center-text">Failed to save model, please try again.</div>
            <div id="model-saving" class="center-text">
                <div class="inline-block italic">Saving Model </div>
                <div class='loader'></div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-create-computer-model").button({
                icon: "ui-icon-plus"
            });
            $("#btn-create-computer-model").click(function(){
                $( "#edit-model-dialog" ).dialog("open");
            });
            $( "#edit-model-dialog" ).dialog({
                buttons: [
                    {
                        id: "btn-model-save",
                        text: "Save",
                        click: submitModel,
                        icon: "ui-icon-check"
                    },
                    {
                        id: "btn-model-cancel",
                        text: "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                            clearModelForm()
                        },
                        icon: "ui-icon-close"
                    }
                ],
                autoOpen: false,
                modal: true,
                autoResize: true,
                width: 'auto',
                title: "Edit Model"
            });

            loadModelsForDisplay();
            $("#model-save-failed").hide();
            $("#model-saving").hide();
            $("#model-error").hide();
        });

        function loadModelsForDisplay(){
            var query = "admin?getcomputermodels"
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, please refresh the page.';
                }
                $("#computer-models-list").html(result);
            }}); 
        }
        function submitModel(){
            var model = {
                model: $("#model-model").val(),
                manufacturer: $("#model-manufacturer").val(),
                islaptop: $("#model-type-laptop").is(":checked"),
                id: $("#model-id").val()
            };
            disableModelForm()
            $("#model-saving").show();
            $("#model-save-failed").hide();
            $("#model-error").hide();
            $.post("admin?submitmodel", model, function(data){
                if(data == "success"){
                    setTimeout(function(){
                        enableModelForm()
                        $("#model-saving").hide();
                        $("#edit-model-dialog").dialog("close");
                        loadModelsForDisplay();
                        clearModelForm();
                    }, 1000);
                }
                else{
                    enableModelForm()
                    $("#model-saving").hide();
                    $("#model-save-failed").show();
                }
                
            });

        }
        function editComputerModel(id){
            $("#model-error").hide();
            var query = "admin?getcomputermodelforedit=" + id
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    alert('An error occured while loading the model for editing, please try again. Refresh the page if the error reoccurs.');
                }
                result = $.parseJSON(result)
                $("#model-model").val(result.model);
                $("#model-manufacturer").val(result.manufacturer);
                $("#model-id").val(result.id);
                if(result.islaptop){
                    $("#model-type-laptop").prop("checked", true);
                    $("#model-type-desktop").prop("checked", false);
                }
                else{
                    $("#model-type-desktop").prop("checked", true);
                    $("#model-type-laptop").prop("checked", false);
                }
                $("#edit-model-dialog").dialog("open");
            }}); 

        } 
        function deleteComputerModel(id, text){
            $("#model-error").hide();
            if(confirm('Are you sure you want to delete the "' + text + '" model?')){
                var query = "admin?deletecomputermodel=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#model" + id).remove();
                        }
                        else{
                            $("#model-error").show().html("Failed to delete '" + text + "', please refresh the page and try again.");
                        }
                    }
                });
            }
        }   
        function clearModelForm(){
            $("#edit-model-dialog input").val("")
            $("#edit-model-dialog select").val("")
            $("#edit-model-dialog textarea").html("")
            $("#model-type-laptop").prop("checked", true);
            $("#model-type-desktop").prop("checked", false);
        }
        function disableModelForm(){
            $("#edit-model-dialog input").prop('disabled', true);
            $("#edit-model-dialog select").prop('disabled', true);
            $("#btn-model-save").prop('disabled', true);
            $("#btn-model-cancel").prop('disabled', true);
        }
        function enableModelForm(){
            $("#edit-model-dialog input").prop('disabled', false);
            $("#edit-model-dialog select").prop('disabled', false);
            $("#btn-model-save").prop('disabled', false);
            $("#btn-model-cancel").prop('disabled', false);
        }
        </script>
    </div><!-- Computer Tab -->
    <div id="reasons-tab">
        <button id="btn-create-reason">New Reason</button>
        <br>
        <div id="reason-error" class="message error-message"></div>
        <br>
        <table class="styled-table">
            <thead>
                <tr>
                    <td>Reason</td>
                    <td>Short Reason</td>
                    <td>Prompt</td>
                    <td>Good Example</td>
                    <td>Bad Example</td>
                    <td>Reimage?</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody id="reasons-list">
                    <tr><td>Loading Reasons...</td></tr>
            </tbody>
        </table>
        <div id="edit-reason-dialog">
            <input id="reason-id" type="hidden">
            <input id="reason-sort-order" type="hidden">
            <table>
                <tr>
                    <td><label for="reason-reason">Reason: </label></td>
                    <td><input id="reason-reason" placeholder="I Broke It" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td><label for="reason-short-desc">Short Reason: </label></td>
                    <td><input id="reason-short-desc" placeholder="It's Broken" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td><label for="reason-long-desc">Prompt: </label></td>
                    <td><textarea id="reason-long-desc" placeholder="Why did you break it?" maxlength="255" class="styled-textbox" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td><label for="reason-good-example">Good Example: </label></td>
                    <td><textarea id="reason-good-example" placeholder="It beat me in chess but not in kickboxing." maxlength="255" class="styled-textbox" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td><label for="reason-bad-example">Bad Example: </label></td>
                    <td><textarea id="reason-bad-example" placeholder="It no worky." maxlength="255" class="styled-textbox" cols="30" rows="3"></textarea></td>
                </tr>
                <tr>
                    <td><label for="reason-reimage">Reimage Required?: </label></td>
                    <td>
                        <input id="reason-reimage-yes" type="radio" name="reason-reimage" checked>
                        <label for="reason-reimage-yes">Yes</label>
                        <input id="reason-reimage-no" type="radio" name="reason-reimage">
                        <label for="reason-reimage-no">No</label>
                    </td>
                </tr>
            </table>
            <br>
            <div id="reason-save-failed" class="italic center-text">Failed to save the reason, please try again.</div>
            <div id="reason-saving" class="center-text">
                <div class="inline-block italic">Saving Reason </div>
                <div class='loader'></div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-create-reason").button({
                icon: "ui-icon-plus"
            });
            $("#btn-create-reason").click(function(){
                $( "#edit-reason-dialog" ).dialog("open");
            });
            $( "#edit-reason-dialog" ).dialog({
                buttons: [
                    {
                        id: "btn-reason-save",
                        text: "Save",
                        click: submitReason,
                        icon: "ui-icon-check"
                    },
                    {
                        id: "btn-reason-cancel",
                        text: "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                            clearReasonForm()
                        },
                        icon: "ui-icon-close"
                    }
                ],
                autoOpen: false,
                modal: true,
                autoResize: true,
                width: 'auto',
                title: "Edit Reason"
            });

            loadReasonsForDisplay();
            $("#reason-save-failed").hide();
            $("#reason-saving").hide();
            $("#reason-error").hide();
        });

        function loadReasonsForDisplay(){
            var query = "admin?getreasons"
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, please refresh the page.';
                }
                $("#reasons-list").html(result);
            }}); 
        }
        function submitReason(){
            var reason = {
                reason: $("#reason-reason").val(),
                sortorder: $("#reason-sort-order").val(),
                shortdesc: $("#reason-short-desc").val(),
                longdesc: $("#reason-long-desc").val(),
                badexample: $("#reason-bad-example").val(),
                goodexample: $("#reason-good-example").val(),
                reimagereq: $("#reason-reimage-yes").is(":checked"),
                id: $("#reason-id").val()
            };
            disableReasonForm()
            $("#reason-saving").show();
            $("#reason-save-failed").hide();
            $("#reason-error").hide();
            $.post("admin?submitreason", reason, function(data){
                if(data == "success"){
                    setTimeout(function(){
                        enableReasonForm()
                        $("#reason-saving").hide();
                        $("#edit-reason-dialog").dialog("close");
                        loadReasonsForDisplay();
                        clearReasonForm();
                    }, 1000);
                }
                else{
                    enableReasonForm()
                    $("#reason-saving").hide();
                    $("#reason-save-failed").show();
                }
                
            });

        }
        function editReason(id){
            $("#reason-error").hide();
            var query = "admin?getreasonforedit=" + id
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    alert('An error occured while loading the reason for editing, please try again. Refresh the page if the error reoccurs.');
                }
                result = $.parseJSON(result)
                $("#reason-reason").val(result.reason);
                $("#reason-sort-order").val(result.sortorder);
                $("#reason-short-desc").val(result.shortdesc);
                $("#reason-long-desc").val(result.longdesc);
                $("#reason-bad-example").val(result.badexample);
                $("#reason-good-example").val(result.goodexample);
                $("#reason-id").val(result.id);
                if(result.reimagereq){
                    $("#reason-reimage-yes").prop("checked", true);
                    $("#reason-reimage-no").prop("checked", false);
                }
                else{
                    $("#reason-reimage-yes").prop("checked", false);
                    $("#reason-reimage-no").prop("checked", true);
                }
                $("#edit-reason-dialog").dialog("open");
            }}); 

        } 
        function deleteReason(id, text){
            $("#reason-error").hide();
            if(confirm('Are you sure you want to delete "' + text + '"?')){
                var query = "admin?deletereason=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#reason" + id).remove();
                        }
                        else{
                            $("#reason-error").show().html("Failed to delete '" + text + "', please refresh the page and try again.");
                        }
                    }
                });
            }
        }   
        function clearReasonForm(){
            $("#edit-reason-dialog input").val("")
            $("#edit-reason-dialog select").val("")
            $("#edit-reason-dialog textarea").html("")
            $("#reason-type-laptop").prop("checked", true);
            $("#reason-type-desktop").prop("checked", false);
        }
        function disableReasonForm(){
            $("#edit-reason-dialog input").prop('disabled', true);
            $("#edit-reason-dialog select").prop('disabled', true);
            $("#btn-reason-save").prop('disabled', true);
            $("#btn-reason-cancel").prop('disabled', true);
        }
        function enableReasonForm(){
            $("#edit-reason-dialog input").prop('disabled', false);
            $("#edit-reason-dialog select").prop('disabled', false);
            $("#btn-reason-save").prop('disabled', false);
            $("#btn-reason-cancel").prop('disabled', false);
        }
        </script>
    </div><!-- Work Order Reasons Tab -->
    <div id="directorates-tab">
        <button id="btn-create-directorate">New Directorate</button>
        <br>
        <div id="directorate-success" class="message success-message"></div>
        <div id="directorate-error" class="message error-message"></div>
        <br>
        <table class="styled-table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Code</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody id="directorates-list">
                    <tr><td>Loading Directorates...</td></tr>
            </tbody>
        </table>
        <div id="edit-directorate-dialog">
            <input id="directorate-id" type="hidden">
            <input id="directorate-sort-order" type="hidden">
            <table>
                <tr>
                    <td><label for="directorate-name">Name: </label></td>
                    <td><input id="directorate-name" placeholder="777th Underwater Basket Weavers" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td><label for="directorate-code">Code: </label></td>
                    <td><input id="directorate-code" placeholder="BW" maxlength="2" class="styled-textbox"></td>
                </tr>
            </table>
            <br>
            <div id="directorate-save-failed" class="italic center-text">Failed to save the directorate, please try again.</div>
            <div id="directorate-saving" class="center-text">
                <div class="inline-block italic">Saving directorate </div>
                <div class='loader'></div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-create-directorate").button({
                icon: "ui-icon-plus"
            });
            $("#btn-create-directorate").click(function(){
                $( "#edit-directorate-dialog" ).dialog("open");
            });
            $( "#edit-directorate-dialog" ).dialog({
                buttons: [
                    {
                        id: "btn-directorate-save",
                        text: "Save",
                        click: submitDirectorate,
                        icon: "ui-icon-check"
                    },
                    {
                        id: "btn-directorate-cancel",
                        text: "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                            clearDirectorateForm()
                        },
                        icon: "ui-icon-close"
                    }
                ],
                autoOpen: false,
                modal: true,
                autoResize: true,
                width: 'auto',
                title: "Edit Directorate"
            });

            loadDirectoratesForDisplay();
            $("#directorate-save-failed").hide();
            $("#directorate-saving").hide();
            $("#directorate-error").hide();
            $("#directorate-success").hide();
        });

        function loadDirectoratesForDisplay(){
            var query = "admin?getdirectorates"
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, please refresh the page.';
                }
                $("#directorates-list").html(result);
            }}); 
        }
        function submitDirectorate(){
            var directorate = {
                directorate: $("#directorate-name").val(),
                sortorder: $("#directorate-sort-order").val(),
                code: $("#directorate-code").val(),
                id: $("#directorate-id").val()
            };
            disableDirectorateForm()
            $("#directorate-saving").show();
            $("#directorate-save-failed").hide();
            $("#directorate-error").hide();
            $.post("admin?submitdirectorate", directorate, function(data){
                if(data == "success"){
                    setTimeout(function(){
                        enableDirectorateForm()
                        $("#directorate-saving").hide();
                        $("#edit-directorate-dialog").dialog("close");
                        loadDirectoratesForDisplay();
                        clearDirectorateForm();
                    }, 1000);
                }
                else{
                    enableDirectorateForm()
                    $("#directorate-saving").hide();
                    $("#directorate-save-failed").show();
                }
                
            });

        }
        function editDirectorate(id){
            $("#directorate-error").hide();
            var query = "admin?getdirectorateforedit=" + id
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    alert('An error occured while loading the directorate for editing, please try again. Refresh the page if the error reoccurs.');
                }
                result = $.parseJSON(result)
                $("#directorate-name").val(result.directorate);
                $("#directorate-sort-order").val(result.sortorder);
                $("#directorate-code").val(result.code);
                $("#directorate-id").val(result.id);
                if(result.reimagereq){
                    $("#directorate-reimage-yes").prop("checked", true);
                    $("#directorate-reimage-no").prop("checked", false);
                }
                else{
                    $("#directorate-reimage-yes").prop("checked", false);
                    $("#directorate-reimage-no").prop("checked", true);
                }
                $("#edit-directorate-dialog").dialog("open");
            }}); 

        } 
        function deleteDirectorate(id, text){
            $("#directorate-error").hide();
            if(confirm('Are you sure you want to delete "' + text + '"?')){
                var query = "admin?deletedirectorate=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#directorate" + id).remove();
                        }
                        else{
                            $("#directorate-error").show().html("Failed to delete '" + text + "', please refresh the page and try again.");
                        }
                    }
                });
            }
        }   
        function clearDirectorateForm(){
            $("#edit-directorate-dialog input").val("")
            $("#edit-directorate-dialog select").val("")
            $("#edit-directorate-dialog textarea").html("")
            $("#directorate-type-laptop").prop("checked", true);
            $("#directorate-type-desktop").prop("checked", false);
        }
        function disableDirectorateForm(){
            $("#edit-directorate-dialog input").prop('disabled', true);
            $("#edit-directorate-dialog select").prop('disabled', true);
            $("#btn-directorate-save").prop('disabled', true);
            $("#btn-directorate-cancel").prop('disabled', true);
        }
        function enableDirectorateForm(){
            $("#edit-directorate-dialog input").prop('disabled', false);
            $("#edit-directorate-dialog select").prop('disabled', false);
            $("#btn-directorate-save").prop('disabled', false);
            $("#btn-directorate-cancel").prop('disabled', false);
        }
        </script>
    </div><!-- Directorates Tab -->
    <div id="ranks-tab">
        <button id="btn-create-rank">New Rank</button>
        <br>
        <div id="rank-success" class="message success-message"></div>
        <div id="rank-error" class="message error-message"></div>
        <br>
        <table class="styled-table">
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Branch</td>
                    <td>Order</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody id="ranks-list">
                <tr><td>Loading Ranks...</td></tr>
            </tbody>
        </table>
        <div id="edit-rank-dialog">
            <input id="rank-id" type="hidden">
            <input id="rank-sort-order" type="hidden">
            <table>
                <tr>
                    <td><label for="rank-name">Rank: </label></td>
                    <td><input id="rank-name" placeholder="ABC" maxlength="9" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td><label for="rank-branch">Branch: </label></td>
                    <td>
                        <select id="rank-branch" class="styled-textbox">
                            <option value="Air Force">Air Force</option>
                            <option value="All">All</option>
                            <option value="Army">Army</option>
                            <option value="Civilian">Civilian</option>
                            <option value="Coast Guard">Coast Guard</option>
                            <option value="Contractor">Contractor</option>
                            <option value="Marines">Marines</option>
                            <option value="Navy">Navy</option>
                            <option value="Volunteer">Volunteer</option>
                            <option value="Other">Other</option>
                            <option value="">None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="rank-order">Order: </label></td>
                    <td><input id="rank-order" type="number" min="1" max="10000" value="1" class="styled-textbox"></td>
                </tr>
            </table>
            <br>
            <div id="rank-save-failed" class="italic center-text">Failed to save the rank, please try again.</div>
            <div id="rank-saving" class="center-text">
                <div class="inline-block italic">Saving rank </div>
                <div class='loader'></div>
            </div>
        </div>
        <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-create-rank").button({
                icon: "ui-icon-plus"
            });
            $("#btn-create-rank").click(function(){
                $( "#edit-rank-dialog" ).dialog("open");
            });
            $( "#edit-rank-dialog" ).dialog({
                buttons: [
                    {
                        id: "btn-rank-save",
                        text: "Save",
                        click: submitRank,
                        icon: "ui-icon-check"
                    },
                    {
                        id: "btn-rank-cancel",
                        text: "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                            clearRankForm()
                        },
                        icon: "ui-icon-close"
                    }
                ],
                autoOpen: false,
                modal: true,
                autoResize: true,
                width: 'auto',
                title: "Edit Rank"
            });

            loadRanksForDisplay();
            $("#rank-save-failed").hide();
            $("#rank-saving").hide();
            $("#rank-error").hide();
            $("#rank-success").hide()
        });

        function loadRanksForDisplay(highlight1 = -1, highlight2 = -1){
            var query = "admin?getranks"
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, please refresh the page.';
                }
                $("#ranks-list").html(result);
                if(highlight1 >= 0){
                    $("#rank"+highlight1).effect( "highlight", {color:"yellow"}, 3000 );
                }
                if(highlight2 >= 0){
                    $("#rank"+highlight2).effect( "highlight", {color:"yellow"}, 3000 );
                }
            }}); 
        }
        function submitRank(){
            var rank = {
                rank: $("#rank-name").val(),
                order: $("#rank-order").val(),
                branch: $("#rank-branch").val(),
                id: $("#rank-id").val()
            };
            disableRankForm()
            $("#rank-saving").show();
            $("#rank-save-failed").hide();
            $("#rank-error").hide();
            $.post("admin?submitrank", rank, function(data){
                if(data == "success"){
                    setTimeout(function(){
                        enableRankForm()
                        $("#rank-saving").hide();
                        $("#edit-rank-dialog").dialog("close");
                        loadRanksForDisplay(id);
                        clearRankForm();
                    }, 1000);
                }
                else{
                    enableRankForm()
                    $("#rank-saving").hide();
                    $("#rank-save-failed").show();
                }
                
            });

        }
        function moveRankUp(id, text){
            $("#rank-error").hide()
            $("#rank-success").hide()
            $("#ranks-list a").prop("disabled", true)
            var query = "admin?moverankup=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#rank-success").show().html("Moved '" + text + "' up.");
                            loadRanksForDisplay(id);
                        }
                        else{
                            $("#rank-error").show().html("Failed to move '" + text + "' up.");
                            $("#ranks-list a").prop("disabled", false)
                        }
                    }
                });
        }
        function moveRankDown(id, text){
            $("#rank-error").hide()
            $("#rank-success").hide()
            $("#ranks-list a").prop("disabled", true)
            var query = "admin?moverankdown=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#rank-success").show().html("Moved '" + text + "' down.");
                            loadRanksForDisplay(id);
                        }
                        else{
                            $("#rank-error").show().html("Failed to move '" + text + "' down.");
                            $("#ranks-list a").prop("disabled", false)
                        }
                    }
                });
        }

        function editRank(id){
            $("#rank-error").hide();
            $("#rank-success").hide()
            var query = "admin?getrankforedit=" + id
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    alert('An error occured while loading the rank for editing, please try again. Refresh the page if the error reoccurs.');
                }
                result = $.parseJSON(result)
                $("#rank-name").val(result.rank);
                $("#rank-order").val(result.order);
                $("#rank-branch").val(result.branch);
                $("#rank-id").val(result.id);
                if(result.reimagereq){
                    $("#rank-reimage-yes").prop("checked", true);
                    $("#rank-reimage-no").prop("checked", false);
                }
                else{
                    $("#rank-reimage-yes").prop("checked", false);
                    $("#rank-reimage-no").prop("checked", true);
                }
                $("#edit-rank-dialog").dialog("open");
            }}); 

        } 
        function deleteRank(id, text){
            $("#rank-error").hide();
            $("#rank-success").hide()
            if(confirm('Are you sure you want to delete "' + text + '"?')){
                var query = "admin?deleterank=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#rank" + id).remove();
                        }
                        else{
                            $("#rank-error").show().html("Failed to delete '" + text + "', please refresh the page and try again.");
                        }
                    }
                });
            }
        }   
        function clearRankForm(){
            $("#edit-rank-dialog input").val("")
            $("#edit-rank-dialog select").val("")
            $("#edit-rank-dialog textarea").html("")
            $("#rank-type-laptop").prop("checked", true);
            $("#rank-type-desktop").prop("checked", false);
        }
        function disableRankForm(){
            $("#edit-rank-dialog input").prop('disabled', true);
            $("#edit-rank-dialog select").prop('disabled', true);
            $("#btn-rank-save").prop('disabled', true);
            $("#btn-rank-cancel").prop('disabled', true);
        }
        function enableRankForm(){
            $("#edit-rank-dialog input").prop('disabled', false);
            $("#edit-rank-dialog select").prop('disabled', false);
            $("#btn-rank-save").prop('disabled', false);
            $("#btn-rank-cancel").prop('disabled', false);
        }
        </script>
    </div> <!-- Ranks Tab -->
    <div id="admins-tab">
        <button id="btn-create-admin">New Admin</button>
        <br>
        <div id="admin-success" class="message success-message"></div>
        <div id="admin-error" class="message error-message"></div>
        <br>
        <p>Admins must have a password set to accept work orders and access the admin interface.</p>
        <table class="styled-table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Work Phone</td>
                    <td>Cell Phone</td>
                    <td>Email</td>
                    <td>Location</td>
                    <td>Directorate</td>
                    <td>Employment</td>
                    <td title="Password Set?">PW?</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody id="admins-list">
                    <tr><td>Loading Admins...</td></tr>
            </tbody>
        </table>
        <div id="edit-admin-dialog">
            <input id="admin-id" type="hidden">
            <table>
                <tr>
                    <td><label for="admin-name">Filter: </label></td>
                    <td><input id="admin-name" placeholder="Aloysius Snuffleupagus" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br>Users:
                        <div id="admin-user-list" class="list" style="height: 12em; overflow-y: auto; border: 2px solid lightgray;" >
                            Loading Users...
                        </div>
                        New Admins:
                        <div id="admin-user-selected-list" class="tag-list"></div>
                    </td>
                </tr>
            </table>
            <br>
            <div id="admin-save-failed" class="italic center-text">Failed to save the Admins, please try again.</div>
            <div id="admin-saving" class="center-text">
                <div class="inline-block italic">Saving Admins </div>
                <div class='loader'></div>
            </div>
            <template id="admin-user-tag">
                <span id="user-tag-" class="tag">
                    <span class="name">Unknown Name</span> 
                    <a href="" class='remove'><i class="fas fa-times"></i></a>
                    <input type="hidden" class="user-id" value="">
                </span>
            </template>
        </div>
        <div id="change-admin-password-dialog">
            <input id="admin-pw-id" type="hidden">
            <p>Changing password for <span id="admin-chng-pw-name">(Unknown name)</span>.</p>
            <p><strong>Do not use a password you use for other accounts or services!</strong></p>
            <table>
                <tr>
                    <td><label for="admin-new-pw">New Password: </label></td>
                    <td><input id="admin-new-pw" type="password" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <span id="pw-length"><i class="fas fa-times-circle" style="color: red;"></i> 8 or more characters</span><br>
                        <span id="pw-lowercase"><i class="fas fa-times-circle" style="color: red;"></i> 1 or more lowercase letters</span><br>
                        <span id="pw-uppercase"><i class="fas fa-times-circle" style="color: red;"></i> 1 or more uppercase letters</span><br>
                        <span id="pw-digits"><i class="fas fa-times-circle" style="color: red;"></i> 1 or more digits</span><br>
                        <span id="pw-specials"><i class="fas fa-times-circle" style="color: red;"></i> 1 or more special characters</span><br>
                    </td>
                <tr>
                    <td><label for="admin-confirm-pw">Confirm Password: </label></td>
                    <td><input id="admin-confirm-pw" type="password" maxlength="255" class="styled-textbox"></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <span id="pw-match"><i class="fas fa-times-circle" style="color: red;"></i> Passwords match</span>
                    </td>
                <tr>
            </table>
            <div class="text-align-right">
                <input type="checkbox" id="admin-pw-show"><label for="admin-pw-show">Show Passwords</label>
            </div>
            <br>
            <div id="admin-pw-save-failed" class="italic center-text">Failed to save the password, please try again.</div>
            <div id="admin-pw-saving" class="center-text">
                <div class="inline-block italic">Saving password </div>
                <div class='loader'></div>
            </div>
        </div>

        <script type="text/javascript">
        $(document).ready(function(){
            $("#btn-create-admin").button({
                icon: "ui-icon-plus"
            });
            $("#btn-create-admin").click(function(){
                $( "#edit-admin-dialog" ).dialog("open");
                loadUsers(null);
            });
            $( "#edit-admin-dialog" ).dialog({
                buttons: [
                    {
                        id: "btn-admin-save",
                        text: "Save",
                        click: submitAdmin,
                        icon: "ui-icon-check"
                    },
                    {
                        id: "btn-admin-cancel",
                        text: "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                            clearAdminForm()
                        },
                        icon: "ui-icon-close"
                    }
                ],
                autoOpen: false,
                modal: true,
                autoResize: true,
                width: 'auto',
                title: "New Admins"
            });
            $( "#change-admin-password-dialog" ).dialog({
                buttons: [
                    {
                        id: "btn-admin-pw-save",
                        text: "Save",
                        click: submitAdminPassword,
                        icon: "ui-icon-check"
                    },
                    {
                        id: "btn-admin-pw-cancel",
                        text: "Cancel",
                        click: function() {
                            $( this ).dialog( "close" );
                            $("#admin-new-pw").val("");
                            $("#admin-confirm-pw").val("");
                            validatePasswords();
                        },
                        icon: "ui-icon-close"
                    }
                ],
                autoOpen: false,
                modal: true,
                autoResize: true,
                width: 'auto',
                title: "Change Password"
            });
            $("#admin-pw-show").change(function(){
                if($("#admin-pw-show").is(":checked")){
                    document.querySelector("#admin-new-pw").type = "text";
                    document.querySelector("#admin-confirm-pw").type = "text";
                }
                else{
                    document.querySelector("#admin-new-pw").type = "password";
                    document.querySelector("#admin-confirm-pw").type = "password";
                }
            });
            $("#admin-name").keyup(loadUsers);
            $("#admin-new-pw").keyup(validatePasswords);
            $("#admin-confirm-pw").keyup(validatePasswords);

            loadAdminsForDisplay();
            $("#admin-save-failed").hide();
            $("#admin-saving").hide();
            $("#admin-pw-save-failed").hide();
            $("#admin-pw-saving").hide();
            $("#admin-error").hide();
            $("#admin-success").hide();
        });
        
        function validatePasswords(){
            var p = $("#admin-new-pw").val();
            var no = "fa-times-circle";
            var yes = "fa-check-circle";
            var len = false;
            var upper = false;
            var lower = false;
            var digits = false;
            var specials = false;
            var match = false;
            if(p.length >= 8){
                $("#pw-length i").removeClass(no);
                $("#pw-length i").addClass(yes);
                $("#pw-length i").css("color", "green");
                len = true;
            }
            else{
                $("#pw-length i").removeClass(yes);
                $("#pw-length i").addClass(no);
                $("#pw-length i").css("color", "red");
            }
            if(p.match(/.*[A-Z].*/)){
                $("#pw-uppercase i").removeClass(no);
                $("#pw-uppercase i").addClass(yes);
                $("#pw-uppercase i").css("color", "green");
                upper = true;
            }
            else{
                $("#pw-uppercase i").removeClass(yes);
                $("#pw-uppercase i").addClass(no);
                $("#pw-uppercase i").css("color", "red");
            }
            if(p.match(/.*[a-z].*/)){
                $("#pw-lowercase i").removeClass(no);
                $("#pw-lowercase i").addClass(yes);
                $("#pw-lowercase i").css("color", "green");
                lower = true;
            }
            else{
                $("#pw-lowercase i").removeClass(yes);
                $("#pw-lowercase i").addClass(no);
                $("#pw-lowercase i").css("color", "red");
            }
            if(p.match(/\d/)){
                $("#pw-digits i").removeClass(no);
                $("#pw-digits i").addClass(yes);
                $("#pw-digits i").css("color", "green");
                digits = true;
            }
            else{
                $("#pw-digits i").removeClass(yes);
                $("#pw-digits i").addClass(no);
                $("#pw-digits i").css("color", "red");
            }
            if(p.match(/\W/)){
                $("#pw-specials i").removeClass(no);
                $("#pw-specials i").addClass(yes);
                $("#pw-specials i").css("color", "green");
                specials = true;
            }
            else{
                $("#pw-specials i").removeClass(yes);
                $("#pw-specials i").addClass(no);
                $("#pw-specials i").css("color", "red");
            }
            if(p == $("#admin-confirm-pw").val()){
                $("#pw-match i").removeClass(no);
                $("#pw-match i").addClass(yes);
                $("#pw-match i").css("color", "green");
                match = true;
            }
            else{
                $("#pw-match i").removeClass(yes);
                $("#pw-match i").addClass(no);
                $("#pw-match i").css("color", "red");
            }
            if(len && upper && lower && digits && specials && match){
                $("#btn-admin-pw-save").prop("disabled", false);
            }
            else{
                $("#btn-admin-pw-save").prop("disabled", true);
            }
        }
        function loadUsers(e){
            var query = "admin?getusers=" + $("#admin-name").val().trim();
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, please try again.';
                }
                $("#admin-user-list").html(result);
            }}); 
        }
        function makeAdmin(id, name){
            if(!document.querySelector('#admin-user-selected-list #user-tag-' + id)){
                var t = document.querySelector('#admin-user-tag');
                t.content.querySelector('.name').innerHTML = name;
                t.content.querySelector('.user-id').value = id;
                t.content.querySelector('a').href = "javascript:removeAdmin(" + id + ")";
                t.content.querySelector('.tag').id = "user-tag-" + id;

                var clone = document.importNode(t.content, true);
                document.querySelector('#admin-user-selected-list').appendChild(clone);
            }
        }
        function removeAdmin(id){
            var r = document.querySelector('#admin-user-selected-list #user-tag-' + id);
            r.parentNode.removeChild(r);
        }
        function loadAdminsForDisplay(){
            var query = "admin?getadmins"
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, please refresh the page.';
                }
                $("#admins-list").html(result);
            }}); 
        }
        function submitAdmin(){
            var admin = {};
            $('#admin-user-selected-list .tag').each(function(index){
                admin["newAdmin" + index] = $(this).find(".user-id").val();
            });
            disableAdminForm()
            $("#admin-saving").show();
            $("#admin-save-failed").hide();
            $("#admin-error").hide();
            $.post("admin?submitadmin", admin, function(data){
                if(data != "fail"){
                    setTimeout(function(){
                        enableAdminForm()
                        $("#admin-saving").hide();
                        $("#edit-admin-dialog").dialog("close");
                        loadAdminsForDisplay();
                        clearAdminForm();
                        $("#admin-success").html(data);
                        $("#admin-success").show();
                    }, 1000);
                }
                else{
                    enableAdminForm()
                    $("#admin-saving").hide();
                    $("#admin-save-failed").show();
                }
                
            });

        }
        function changeAdminPassword(id){
            $("#admin-pw-id").val(id);
            $("#admin-chng-pw-name").html($("#name" + id).html())
            $("#change-admin-password-dialog").dialog("open");
            $("#btn-admin-pw-save").prop("disabled", true);
        }
        function submitAdminPassword(){
            var pw = {
                password: $("#admin-new-pw").val(),
                id: $("#admin-pw-id").val()
            };
            disableAdminPwForm()
            $("#admin-pw-saving").show();
            $("#admin-pw-save-failed").hide();
            $("#admin-pw-error").hide();
            $.post("admin?submitpassword", pw, function(data){
                if(data == "success"){
                    setTimeout(function(){
                        enableAdminPwForm()
                        $("#admin-pw-saving").hide();
                        $("#change-admin-password-dialog").dialog("close");
                        loadAdminsForDisplay();
                        clearAdminPwForm();
                    }, 1000);
                }
                else{
                    enableAdminPwForm()
                    $("#admin-pw-saving").hide();
                    $("#admin-pw-save-failed").show();
                }
                
            });
        }
        function deleteAdmin(id){
            $("#admin-error").hide();
            $("#admin-success").hide();
            var name = $("#name" + id).html();
            if(confirm('Are you sure you want to remove "' + name + '" from Admins?')){
                var query = "admin?deleteadmin=" + id;
                $.ajax({url: query, success: function(result){
                        if(result == "success"){
                            $("#admin" + id).remove();
                        }
                        else{
                            $("#admin-error").show().html("Failed to remove '" + text + "', please refresh the page and try again.");
                        }
                    }
                });
            }
        }   
        function clearAdminForm(){
            $("#edit-admin-dialog input").val("")
            $("#edit-admin-dialog select").val("")
            $("#edit-admin-dialog textarea").html("")
        }
        function disableAdminForm(){
            $("#edit-admin-dialog input").prop('disabled', true);
            $("#edit-admin-dialog select").prop('disabled', true);
            $("#btn-admin-save").prop('disabled', true);
            $("#btn-admin-cancel").prop('disabled', true);
        }
        function enableAdminForm(){
            $("#edit-admin-dialog input").prop('disabled', false);
            $("#edit-admin-dialog select").prop('disabled', false);
            $("#btn-admin-save").prop('disabled', false);
            $("#btn-admin-cancel").prop('disabled', false);
        }
        function clearAdminPwForm(){
            $("#change-admin-password-dialog input").val("")
            $("#change-admin-password-dialog select").val("")
            $("#change-admin-password-dialog textarea").html("")
        }
        function disableAdminPwForm(){
            $("#change-admin-password-dialog input").prop('disabled', true);
            $("#change-admin-password-dialog select").prop('disabled', true);
            $("#btn-admin-pw-save").prop('disabled', true);
            $("#btn-admin-pw-cancel").prop('disabled', true);
        }
        function enableAdminPwForm(){
            $("#change-admin-password-dialog input").prop('disabled', false);
            $("#change-admin-password-dialog select").prop('disabled', false);
            $("#btn-admin-pw-save").prop('disabled', false);
            $("#btn-admin-pw-cancel").prop('disabled', false);
        }
        </script>
    </div><!-- Admins Tab -->
    <div id="settings-tab">
        <h3>Storage Location</h3>
        <label for="settings-storage-path">Location for saving work order documents:</label><br>
        <input id="settings-storage-path" type="text" maxlength="1024" class="styled-textbox width-100-percent" value="Loading, please wait...">
        <br><br>
        <div id="settings-storage-location-buttons">
            <a id="settings-save-location" href="javascript:saveStorageLocation()" title="Save the storage location for work orders">Save</a>
            <a id="settings-revert-location" href="javascript:loadStorageLocation()" title="Load the last saved storage location">Revert</a>
            <a id="settings-default-location" href="javascript:settingsDefaultPath()" title="Use the default storage location">Default</a>
            <a id="settings-test-location" href="javascript:testStorageLocation()" title="Test to make sure the webserver can access the storage location">Test Path</a>
            <span id="settings-location-saving">
                    <div class="inline-block italic">Saving storage location </div>
                    <div class='loader'></div>
            </span>
            <span id="settings-location-testing">
                    <div class="inline-block italic">Testing storage location </div>
                    <div class='loader'></div>
            </span>
            <span id="settings-location-message" class="inline-block italic">
                    Storage location saved successfully.
            </span>
        </div>
        <p class="italic"><small>For security reasons, web pages are not allowed access to the local file system, thus a "folder picker"
            dialog cannot be shown. To change this path,
            browse to the desired path in Windows Explorer then copy the location from the address bar and paste it into the text box
            above. Use "$SERVERDIR" (without quotes) to specify the location of the webserver script.</small>
        </p>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            loadStorageLocation();

            $("#settings-save-location").button({
                icon: " ui-icon-check"
            });
            $("#settings-revert-location").button({
                icon: " ui-icon-arrowreturnthick-1-w"
            });
            $("#settings-default-location").button({
                icon: " ui-icon-star"
            });
            $("#settings-test-location").button({
                icon: " ui-icon-lightbulb"
            });

            $("#settings-location-saving").hide();
            $("#settings-location-testing").hide();
            $("#settings-location-message").hide();
        });

        function saveStorageLocation(){
            var location = {
                path: $("#settings-storage-path").val()
            };
            $("#settings-storage-location-buttons a").prop("disabled", true);
            $("#settings-location-message").hide();
            $("#settings-location-testing").hide();
            $("#settings-location-saving").show();
            $.post("admin?submitlocation", location, locationSubmitResult);
        }

        function locationSubmitResult(result){
            if(result == "success"){
                $("#settings-location-message").show().html("Storage location saved successfully.");
                $("#settings-location-saving").hide();
            }
            else{
                $("#settings-location-message").hide().html("An error occured while saving the storage location, please try again.");
                $("#settings-location-saving").hide();
            }
            $("#settings-storage-location-buttons a").prop("disabled", false);
        }

        function testStorageLocation(){
            var location = {
                path: $("#settings-storage-path").val()
            };
            $("#settings-storage-location-buttons a").prop("disabled", true);
            $("#settings-location-message").hide();
            $("#settings-location-testing").show();
            $("#settings-location-saving").hide();
            $.post("admin?testlocation", location, locationTestResult);
        }

        function locationTestResult(result){
            if(result == "success"){
                $("#settings-location-message").show().html("The storage location is accessible.");
            }
            else{
                $("#settings-location-message").show().html("Unable to write to that storage location.");
            }
            $("#settings-location-testing").hide();
            $("#settings-storage-location-buttons a").prop("disabled", false);
        }

        function loadStorageLocation(){
            var query = "admin?getstorageloc";
            $.ajax({url: query, success: function(result){
                if(result.length == 0){
                    result = 'An error occured, click "Revert" to get the previously set location.';
                }
                $("#settings-storage-path").val(result);
            }}); 
            $("#settings-location-message").hide();
        }

        function settingsDefaultPath(){
            $('#settings-storage-path').val('$SERVERDIR\\workorders\\');
            $("#settings-location-message").hide();
        }
    </script>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("#tabs").tabs();
});
</script>
