<h3>$computername</h3>
<h4><i class="fas fa-$comptype"></i> $model</h4>
<p><i class="fas fa-barcode"></i> Service Tag: <span id="disp-servicetag">$servicetag</span></p>
<p><i class="fas fa-building"></i> Owner: $owner</p>
<p><i class="fas fa-sitemap"></i> Domain Use: $ondomain</p>
<p><i class="fas fa-calendar-alt"></i> Last Service: $lastservice</p>
<p><i class="fas fa-wrench"></i> Last Problem: $lastproblem</p>
<p><i class="fas fa-calendar-alt"></i> Warranty Expiration: $warrantyexpiration</p>
<p><i class="fas fa-sticky-note"></i> Description: $description</p>