<table class="width-100-percent styled-table">
    <tr>
        <td><b>$computername</b></td>
        <td>Service Tag: <span id="comp-service-tag">$servicetag</span></td>
    </tr>    
    <tr>
        <td><span id="comp-model">$model</span></td>
        <td><span id="comp-on-domain">$ondomain</span></td>
    </tr>
    <tr>
        <td>Owner: $owner</td>
        
        <td>Warranty Expiration: $warrantyexpiration</td>
    </tr>
    <tr>
        <td>Last Service: $lastservice</td>
        <td>Last Problem: $lastproblem</td>
    </tr>
    <tr>
        <td colspan="2">Description: $description</td>
    </tr>
</table>
<input id="computer-id" type="hidden" value="$id">