<div style="flex: 1;"></div>
<div class="center-text footer">
    <a href="https://ngut/pages/helpdesk.aspx">Help Desk Page</a> | 
    <a href="/admin">Admin</a> | 
    <a href="/exit">Exit</a>
    <p>Developed by SGT Eric Boring, 2018</p>
</div>