<div class="header">
    <table class="width-100-percent">
        <tr>
            <td style="width: 1%">
                <img src="img/logo.png" height="76">
            </td>
            <td class="vertical-bottom-text title-text italic">
                Welcome To The G6 Help Desk
            </td>
            <td>
                <a class="undecorated-link" href="https://www.brainyquote.com/quote_of_the_day" target="_blank">
                    <div id="todays-quote" class="text-align-right">
                        <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
                    </div>
                </a>
            </td>
        </tr>
    </table>
    <div class="nav-bar">
        <a href="/" id="link-home" class="nav-button $atHome"><i class="fas fa-home"></i> Home</a>
        <a href="/workorder" id="link-work-order" class="nav-button $atWorkOrder"><i class="fas fa-file-alt"></i> Work Orders</a>
        <a href="/computer" id="link-computer" class="nav-button $atComputer"><i class="fas fa-laptop"></i> Computers</a>
        <a href="/profile" id="link-profile" class="nav-button $atProfile"><i class="fas fa-users"></i> Users</a>
    </div>
</div>