<link rel="stylesheet" href="js/jquery-ui-1.12.1/jquery-ui.css">
<link rel="stylesheet" href="fontawesome-free-5.2.0-web/css/all.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery-3.3.1.js"></script>
<script src="js/jquery-ui-1.12.1/jquery-ui.js"></script>