<div id="post$id" class="list-item">
    <h3 class="post-title">$title</h3>
    <p class="post-body">$body</p>
    <p><i><small>Posted <span class="post-date">$timestamp</span> by <span class="post-author">$author</span>.</small></i></p>
    <a class="btn-edit-post" href="javascript:editPost($id)">Edit</a> 
    <a class="btn-delete-post" href="javascript:deletePost($id)">Delete</a>
    <span class="status-message italic"></span>
</div>