<div style="page-break-before:always">&nbsp;</div>
<div class="box-3pt print-block">
        <h3 class="text-center">G6 Help Desk Work Order</h3>
        <p class="text-center">$timestamp - Work Order #$woNumber</p>
        <hr width="90%" />
        <table class="width-100-percent">
            <tr>
                <td><big>$computername</big></td>
                <td><b>Service Tag:</b> $servicetag</td>
            </tr>    
            <tr>
                <td><b>$model</b></td>
                <td><b>$ondomain</b> </td>
            </tr>
            <tr>
                <td><b>Owner:</b> $owner</td>
                <td><b>Warranty Expiration:</b> $warrantyexpiration</td>
            </tr>
            <tr>
                <td><b>Last Service:</b> $lastservice</td>
                <td><b>Last Problem:</b> $lastproblem</td>
            </tr>
            <tr>
                <td colspan="2"><b>Description:</b> $description</td>
            </tr>
            <tr>
                <td><b>Submitter</b> $name</td>
                <td>$isAdmin</td>
            </tr>    
            <tr>
                <td><b>Username:</b> $username</td>
                <td><b>Unit:</b> $unit</td>
            </tr>
            <tr>
                <td><b>Work:</b> $workPhone</td>
                <td><b>Cell:</b> $cellPhone</td>
            </tr>
            <tr>
                <td colspan="2"><b>Email:</b> $email</td>
            </tr>
            <tr>
                <td colspan="2"><b>Employment:</b> $employment at $directorate in $location</td>
            </tr>
        </table>
        <hr width="90%" />
        <table class="width-100-percent">
            <tr>
                <td colspan="2"><b>Reimage?</b> $reimage</td>
                <td colspan="2" class="text-right">$count of $total computers</td>
            </tr>
            <tr>
                <td colspan="4"><b>Problem:</b> $problem</td>
            </tr>
            <tr>
                <td colspan="4"><b>Problem Description:</b> $problemdesc</td>
            </tr>
            <!--Figure out how to fix iTextSharp so that unicode characters can be displayed. See bookmark in Chrome.-->
            <tr>
                <td>&#x25A2; Work Started</td>
                <td>&#x25A2; Data Backed Up</td>
                <td>&#x25A2; Reimage Started</td>
                <td>&#x25A2; Added to Domain</td>
            </tr>
            <tr>
                <td>&#x25A2; BitLocker Started</td>
                <td>&#x25A2; Data Backup Restored</td>
                <td>&#x25A2; Work Finished</td>
                <td>&#x25A2; User Contacted</td>
            </tr>
        </table>
        <hr width="90%" />
        <table class="width-100-percent">
            <tr>
                <td rowspan="2">
                    <p class="large">$name</p>
                </td>
                <td class="text-right"><b>Work:</b> $workPhone</td>
            </tr>
            <tr>
                <td class="text-right"><b>Cell:</b> $cellPhone</td>
            </tr>
        </table>
    </div><br />