<h3>$name</h3>
<h4><i class="fas fa-building"></i> $unit</h4>
$isAdmin
<p><i class="fas fa-user"></i> Username: <span id="disp-username">$username</span></p>
<p><i class="fas fa-phone"></i> Work: $workPhone</p>
<p><i class="fas fa-phone"></i> Cell: $cellPhone</p>
<p><i class="fas fa-envelope"></i> Email: $email</p>
<p><i class="fas fa-briefcase"></i> $employment at $directorate in $location</p>
<p><i class="fas fa-calendar-alt"></i> Profile created: $created</p>
<p><i class="fas fa-calendar-alt"></i> Last used: $lastUsed</p>