<table class="width-100-percent styled-table">
    <tr>
        <td><b>$name</b></td>
        <td>$isAdmin</td>
    </tr>    
    <tr>
        <td>Username: $username</td>
        <td>Unit: $unit</td>
    </tr>
    <tr>
        <td>Work: $workPhone</td>
        <td>Cell: $cellPhone</td>
    </tr>
    <tr>
        <td>Email: $email</td>
        <td>Employment: $employment at $directorate in $location</td>
    </tr>
</table>
<input id="user-id" type="hidden" value="$id">