<tr>
    <td>
        $number
    </td>
    <td>
        $name
    </td>
    <td>
        $created
    </td>
    <td>
        $status
    </td>
    <td class="center-text button-tray">
        <a href="javascript:openPdf($number)" title="View work order PDF"><i class="far fa-file-pdf"></i></a>
        <a href="javascript:viewUser($number)" title="View user who submitted this work order"><i class="far fa-user"></i></a>
        <a href="javascript:viewComputers($number)" title="View computers in this oork order"><i class="fas fa-laptop"></i></a>
        <span style="display: inline-block;"> </span>
    </td>
</tr>